#container {
  background-color: snow;
  display: grid;
  place-content: center;
}

.board {
  margin-bottom: 25px;
  width: 800px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0px;
  &:nth-child(3n) {
    background-color: red;
  }
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  &:nth-child(n):nth-child(-n + 9) {
    border-top-width: 4px;
  }
  &:nth-child(n + 73):nth-child(-n + 81) {
    border-bottom-width: 4px;
  }
  &:nth-child(3n) {
    border-right-width: 4px;
  }
  &:nth-child(9n + 1) {
    border-left-width: 4px;
  }
  &:nth-child(n + 19):nth-child(-n + 27) {
    border-bottom-width: 4px;
  }
  &:nth-child(n + 46):nth-child(-n + 54) {
    border-bottom-width: 4px;
  }

  input {
    border: none;
    background-color: transparent;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    height: 70px;
    width: 70px;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 25px;
  border: none;
  color: #2f3e46;
  font-size: 20px;
  font-weight: 700;
  height: 80px;
  margin: auto;
  width: 200px;
}

.btn:first-child {
  background-color: #ffd166;
}

.btn:last-child {
  background-color: #ef476f;
}

.btn:hover {
  cursor: pointer;
  color: black;
}

.btn:first-child:hover {
  background-color: #fcbf49;
}

.btn:last-child:hover {
  background-color: #e63946;
}
